@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: black;
  color: rgb(0, 215, 0); 
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  /* cursor: url('./images/cursorTrans.png'), auto; */
}

.container {
  font-family: 'Roboto Mono', monospace;
  color: rgb(0, 215, 0); 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

a {
  color: rgb(233, 0, 233);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: rgb(72, 253, 254);
  font-weight: 700;
  text-decoration: none;
}

span.cli-prefix {
  font-weight: 700;
}

span.dir-name {
  color: rgb(72, 253, 254);
}

span.git-name {
  color: rgb(94, 103, 253);
}

span.branch-name {
  color: rgb(255, 98, 94);
}

.project-screenshot {
  max-width: 400px; 
}

h2.project-title {
  color: rgb(72, 253, 254);
  font-size: 17px;
  font-style: none;
}

#nav-cat {
  font-weight: 400;
}